<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d-[%thread] %-5level - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="common-gateway"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/common-gateway-rest.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logs/common-gateway-rest_%d{yyyy-MM-dd-HH}.log
			</FileNamePattern>
			<MaxHistory>720</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -
				%msg%n</pattern>
		</layout>
	</appender>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="common-gateway" />
	</root>

	<logger name="com.changhongit" level="INFO">
	</logger>

</configuration>
